
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input{
  padding: .5em;
  border-radius: 5px;
}
button {
  border-radius: 8px;
  margin-left: .4em;
  padding: 0.2em .3em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-Delete{
  font-size: 0.6em;
}

ul{
  text-align: start;
  padding: 0;
  height: 150px;
  overflow: auto;
}

li{
  display: flex;
  justify-content: space-between;
  margin: .3em;
}

.CardLista3{
  background-color: rgb(255, 221, 177);
  padding: 1em;
  width: 270px;
  height: 400px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}
.CardLista2{
  background-color: rgb(254, 230, 199);
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 290px;
  height: 90%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}
.CardLista{
  background-color: rgb(255, 237, 214);
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: -10px;
  width: 310px;
  height: 90%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.numTaskAdd{
  position: absolute;
  bottom: 20px;
  left: 40%;

}